<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="jumbotron">
        <label>Email</label>
        <input type="email" class="form-control" [(ngModel)]="loginParams.email">
        <br />
        <label>Contraseña</label>
        <input type="password" class="form-control" [(ngModel)]="loginParams.password">
        <hr />
        <a class="btn btn-warning btn-block" (click)="login()">Login!</a>
        <a class="btn btn-primary btn-block" (click)="facebookLogin()">Login con Facebook!</a>
        <a class="btn btn-light btn-block">Cancelar</a>
        <br />
        <a routerLink="/registro">¿Aún no tienes cuenta?</a>
      </div>
    </div>
  </div>
</div>