<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="jumbotron">
          <label>Email</label>
          <input type="email" class="form-control">
          <br />
          <label>Contraseña</label>
          <input type="password" class="form-control">
        <hr />
        <a class="btn btn-primary btn-block">Registrarse!</a>
        <a class="btn btn-light btn-block">Cancelar</a>
        <br />
        <a routerLink="/login">Ya tengo cuenta</a>
      </div>
    </div>
  </div>
</div>

